{% extends 'baseAdmin.html.twig' %}

{% block title %}GIFs index
{% endblock %}

{% block body %}
	<main class="m-3">
		<h1>GIFs index</h1>

		<a class="btn btn-primary originalbtn col-1 my-4" href="{{ path('app_gif_new') }}">Create new</a>

		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Title</th>
					<th>Picture</th>
					<th>Preview</th>
					<th>Votes</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for gif in gifs %}
					<tr>
						<td>{{ gif.id }}</td>
						<td>{{ gif.title }}</td>
						<td>{{ gif.picture }}</td>
						<td><img class="gifPreview" src="{{asset('build/images/' ~ gif.picture)}}" alt="">
						</td>
						<td>{{ gif.nbOfVotes }}</td>
						<td>
							<a class="btn btn-primary originalbtn d-block mb-3" href="{{ path('app_gif_show', {'id': gif.id}) }}">Show</a>
							<a class="btn btn-secondary originalbtn d-block" href="{{ path('app_gif_edit', {'id': gif.id}) }}">Edit</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="5">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</main>
{% endblock %}
