{% extends 'base.html.twig' %}

{% block title %}Random GIF
{% endblock %}

{% block body %}
	<section class="min-vh-100 text-center">
		<h1 class="text-center m-5">Random GIF</h1>

		<div class="card col-4 text-center m-auto">
			<h3 class="card-header">
				{{randomGif.title}}
			</h3>
			<div class="card-body">
				<img src="{{asset('build/images/' ~ randomGif.picture)}}" alt="">
				<h4 class="card-title m-3">
					Votes:
					{{ randomGif.nbOfVotes }}</h4>

				{% if collectionCheck %}
					<h4>This GIF is in your collection</h4>
				{% endif %}

				<a href="{{ path('app_gif_collect', {'id': randomGif.id}) }}" class="btn btn-primary randomBtn m-3">
					{% if collectionCheck %}
						Remove from
					{% else %}
						Add to
					{% endif %}
					your collection</a>
				<a href="{{ path('app_gif_vote', {'id': randomGif.id}) }}" class="btn btn-primary randomBtn m-3">
					Add a vote</a>
			</div>
		</div>

		<a href="{{ path('app_gif_random') }}" class="btn btn-primary randomBtn m-3">Load another Gif</a>

	</section>
{% endblock %}
