{% extends 'baseAdmin.html.twig' %}

{% block title %}Show GIF
{% endblock %}

{% block body %}
	<h1>Gif</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ gif.id }}</td>
			</tr>
			<tr>
				<th>Title</th>
				<td>{{ gif.title }}</td>
			</tr>
			<tr>
				<th>Picture</th>
				<td>{{ gif.picture }}</td>
			</tr>
			<tr>
				<th>NbOfVotes</th>
				<td>{{ gif.nbOfVotes }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('app_gif_index') }}">back to list</a>

	<a href="{{ path('app_gif_edit', {'id': gif.id}) }}">edit</a>

	{{ include('gif/_delete_form.html.twig') }}
{% endblock %}
