{% extends 'baseAdmin.html.twig' %}

{% block title %}Show GIF
{% endblock %}

{% block body %}
	<main class="m-3">

		<h1>GIF</h1>

		<table class="table">
			<tbody>
				<tr>
					<th>Id</th>
					<td>{{ gif.id }}</td>
				</tr>
				<tr>
					<th>Title</th>
					<td>{{ gif.title }}</td>
				</tr>
				<tr>
					<th>Picture</th>
					<td>{{ gif.picture }}</td>
				</tr>
				<tr>
					<th>Votes</th>
					<td>{{ gif.nbOfVotes }}</td>
				</tr>
			</tbody>
		</table>


		<a class="btn btn-secondary originalbtn" href="{{ path('app_gif_edit', {'id': gif.id}) }}">Edit</a>

		{{ include('gif/_delete_form.html.twig') }}

		<div class="mt-5">
			<a href=" {{ path('app_gif_index') }} ">Back to list</a>
		</div>
	</main>
{% endblock %}
