<section class="footer p-2 d-lg-flex d-row justify-content-around m-0 p-0">
	<div class="m-auto mb-3">
		<ul class="m-4 text-center list-unstyled">
			<li>
				<a class="nav-link m-2" href="{{ path("app_gif_random") }}">Random GIF</a>
			</li>
			<li>
				<a class="nav-link m-2" href="{{ path("app_gif_browse") }}">Browse GIF</a>
			</li>
			<li>
				{% if app.user %}
					<a class="nav-link m-2" href="{{ path('app_gif_collection')}}">My collection</a>
					<a class="nav-link m-2" href="{{ path('app_logout')}}">
						Logout</a>
				{% else %}
					<a class="nav-link m-2" href="{{ path('app_login') }}">
						Login</a>
				{% endif %}
				{% if is_granted('ROLE_ADMIN') %}
					<a class="nav-link m-2 text-black" href="{{ path('app_gif_index') }}">
						ADMIN</a>
				{% endif  %}
			</li>
		</ul>
	</div>

	<div class="text-center m-auto">
		<img class="footerLogo" src='{{asset('build/images/Dunder_Mifflin_Gif.jpg')}}' alt="Dunder Mifflin Gif Logo">
	</div>

	<div class="my-auto p-4 text-center">
		<p class="">Copyright ©2022 Dunder Gifflin Inc. All rights reserved.</p>
	</div>

</section>
